body{
  width: 100%;
  font-family: sans-serif;
  margin: 0px;
}


.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto
}

header .container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

header {
  display: flex;
  background-image: url(../images/background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  justify-content: center;
  min-height: 600px
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #707070;
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-top: 50%;
  margin-bottom: 10%
}

.button:hover {
  width: 160px;
}

.button:active {
  background-color:#b7b7b7;
  box-shadow: 0 4px #666;
}

.bottom-part{
  display: flex;
  justify-content: space-between;
  padding: 2vh 2vh 2vh 2vh;
  background-color:#8b979b;
  color:white;
}
.b{
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: black;


}
.details{
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.actors{
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap:wrap;
  overflow: hidden;
  background-color:#516369;
}

.actor1 {
  width: 200px;
  height: 200px;
  margin-top: 40px;
  margin: 20px;
  text-align: center;
  line-height: 75px;
  float: left;
  background-color: white;
  color:black;
  padding-bottom: 25px;
}


img.per{
  display: flex;
  border-radius: 10px;
  border-color: #f7f7f7;
  height: 300px;
  width: 300px;

}

.person {
  display: flex;
  align-items: center;
  justify-content: center;
}

img.per:hover{
  opacity :0.5 ;
}
.bio{
    display: flex;
    flex-direction: column;
    padding-left: 2vh;
    color:black;
}


.foot{
   height: 30px;
   width: 100%;
   padding-top:10px;
   background-color: #fff;
   color: black;
   text-align: center;
 }

@media only screen and (max-width: 700px) {
header{
    width: 100%;
  }
  .foot{
    width:100%
  }
  .bottom-part .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bio h2,h4{
    text-align: center;
  }

}
