body{
  width: 100%;
  font-family: sans-serif;
  margin: 0px;
}

header {
  width:100%;
  display: block;
}

 .button{
  position:absolute;
  top:90%;;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #707070;
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  width: 160px;
}

.button:active {
  background-color:#b7b7b7;
  box-shadow: 0 4px #666;
}

.bottom-part{
  height: 100vh;
  width:100%;
  background-color:#8b979b;
  color:white;
}
.b{
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: black;


}
.details{
  display: flex;
  height: 100vh;
  margin: 40px;
  margin-top: 5px;
  overflow: hidden;
}

.actors{
  height: 100vh;
  padding:40px;
  display: flex;
  flex-wrap:wrap;
  overflow: hidden;
  background-color:#516369;
}

.actor1 {
  width: 200px;
  height: 200px;
  margin-top: 40px;
  margin: 20px;
  text-align: center;
  line-height: 75px;
  float: left;
  background-color: white;
  color:black;
  padding-bottom: 25px;
}

.person{
  margin-left: 40px;
  margin-top: 40px;
}

img{
  border-radius: 3px;
  border-color: #f7f7f7;
  opacity : 0.5;
}

img.per{
  margin-right: 25px;
  margin-top: 40px;
  border-radius: 10px;
  border-color: #f7f7f7;
  height: 300px;
  width: 300px;
  opacity : 1;
  display: flex;
  flex-wrap:wrap;
  overflow: hidden;
}

img.per:hover{
  opacity :0.5 ;
}
.bio{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: white;
    color:black;
    margin-top: 80px;
    margin-left: 40px;
    padding: 20px;
    width:auto;
    height: 400px;
    overflow: hidden;
}


.foot{
   height: 30px;
   width: 100%;
   padding-top:10px;
   background-color: #fff;
   color: black;
   text-align: center;
 }

@media only screen and (max-width: 700px) {
header{
    width: 100%;
  }
  .foot{
    width:100%
  }

}
